* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background: rgb(218,218,218); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(218,218,218) 0%, rgb(255,255,255) 50%, rgb(218,218,218) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(218,218,218)), color-stop(50%,rgb(255,255,255)), color-stop(100%,rgb(218,218,218))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* IE10+ */
	background: linear-gradient(to right, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#dadada',GradientType=1 ); /* IE6-9 */
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.ui-body-c, .ui-overlay-c{
	background: rgb(218,218,218); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(218,218,218) 0%, rgb(255,255,255) 50%, rgb(218,218,218) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(218,218,218)), color-stop(50%,rgb(255,255,255)), color-stop(100%,rgb(218,218,218))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* IE10+ */
	background: linear-gradient(to right, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#dadada',GradientType=1 ); /* IE6-9 */
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
a {
	text-decoration: none;
}
.main-loader {
	position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image:url(../img/preloader.gif);
	background-position:50% 50%;
	background-repeat: no-repeat;
}
.ui-header {
	top:0;
	padding-top:0px;
	height:97px;
	background: rgb(218,218,218); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(218,218,218) 0%, rgb(255,255,255) 50%, rgb(218,218,218) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(218,218,218)), color-stop(50%,rgb(255,255,255)), color-stop(100%,rgb(218,218,218))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* IE10+ */
	background: linear-gradient(to right, rgb(218,218,218) 0%,rgb(255,255,255) 50%,rgb(218,218,218) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#dadada',GradientType=1 ); /* IE6-9 */
	text-align:center;
	border:0px;
}
.ui-header .ui-title{
	
}
.ui-header .logo {background:url('../img/ic-logo.png') center center no-repeat;border:0px;position:static!important;left:auto;top:auto!important;width:293px;height:82px;overflow:hidden;text-indent:-9999px;margin-top:3px;
}
.subnav .ui-btn {
	border:0px;
	background: rgb(227,6,19); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(227,6,19) 0%, rgb(174,15,10) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(227,6,19)), color-stop(100%,rgb(174,15,10))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(227,6,19) 0%,rgb(174,15,10) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(227,6,19) 0%,rgb(174,15,10) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(227,6,19) 0%,rgb(174,15,10) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(227,6,19) 0%,rgb(174,15,10) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e30613', endColorstr='#ae0f0a',GradientType=0 );
}
.ui-footer{
	
}
.centerText,.warsztat{
    text-align:center;
}
.ui-grid-a .ui-block-a .ui-btn{
    margin-left: 0px;
}
.ui-grid-a .ui-block-b .ui-btn{
    margin-right: 0px;
}
#second-page{
   
}
.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}
.ui-btn-active {
    border: 1px solid       #1abc9c /*{global-active-border}*/;
    background:             #1abc9c /*{global-active-background-color}*/;
    font-weight: bold;
    color:                  #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-decoration: none;
  font-family: Lato, sans-serif
}

.ui-icon-ms-phone {
    background: url("../img/phone-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-question {
    background: url("../img/question-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-search {
    background: url("../img/search-icon.png") 50% 50% no-repeat;
}
ul.simple-pagination {
	list-style: none;
}
.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align:center;
}
.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	display:inline-block;
}
.simple-pagination li:first-child{
	float: left;
}
.simple-pagination li:last-child{
	float: right;
}
.simple-pagination li:last-child a, .simple-pagination li:last-child span{
	margin: 0;
}
.light-theme a, .light-theme span {
	text-decoration:none;
	float:left;
	color: #666;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}
.light-theme a:hover {
	text-decoration: none;
	background: #FCFCFC;
}
.light-theme .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}
.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}